@{
    ViewData["Title"] = "Professores Page";
}


<div >

    <h1 class="display-4 text-justify">Professores</h1>
    <p class="toolbar">
        <a class="create btn  btn-dark btn-lg" href="/Professor/NovoProfessor">Novo</a>
    </p>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Nome</th>
                <th>Id</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Vitor</td>
                <td>#1</td>
                <td><a class="btn btn-primary" href="/Professor/Editar"</a> Editar</td>
            </tr>

            <tr>
                <td>Fernando</td>
                <td>#1</td>
                <td><a class="btn btn-primary" href="/Professor/Editar" >Editar</a></td>
            </tr>

            <tr>
                <td>Paulo</td>
                <td>#1</td>
                <td><a class="btn btn-primary"  href="/Professor/Editar">Editar</a></td>
            </tr>

            <tr>
                <td>Marcelo</td>
                <td>#1</td>
                <td><a class="btn btn-primary"  href="/Professor/Editar">Editar</a></td>
            </tr>


        </tbody>
    </table>

</div>
