@model IEnumerable<ProfessorModel>

@{
    ViewData["Title"] = "Professores Page";
}


<div>

    <h1 class="display-4 text-justify">Professores</h1>
    <p class="toolbar">
        <a class="create btn  btn-dark btn-lg" href="/Professor/NovoProfessor">Novo</a>
    </p>
    <table class="table table-striped ">
        <thead class="thead-light ">
            <tr>
                <th>Nome</th>
                <th>Id</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>

           

            @foreach (var professor in Model)
            {

                <tr>
                    <td>@professor.Nome</td>
                    <td>@professor.ProfessorId</td>
                    <td>
                        <a class="btn btn-primary" href="/Professor/Editar/@professor.ProfessorId">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn " href="/Professor/Detalhe/@professor.ProfessorId">Detalhe</a>
                    </td>
                </tr>

            }



                </tbody>
            </table>

        </div>
